.tfr-form {
  .el-form-item__label {
    color: black;
    font-weight: 500;
    position: relative;
  }

  .el-form-item__error {
    margin-left: 36px;
  }

  .is-required {
    .el-form-item__label {
      color: $theme;
      font-weight: 500;
      display: inline-block !important;
      &::before {
        position: absolute;
        right: -6px;
        top: 1px;
        display: inline-block !important;
        color: $theme !important;
      }
    }
  }
}

.tfr-form-required {
  .is-error {
    .el-form-item__label {
      color: $theme;
    }

    .el-input__inner {
      border-color: $theme !important;
    }
  }
}

.sm-switch {
  .el-switch {
    line-height: 14px;
    height: 14px;
    .el-switch__core{
      width: 26px !important;
      height: 13px;
      border-radius: 8px;
      &::after{
        width: 7px;
        height: 7px;
        top: 2px;
        border-radius: 50%;
      }
    }
  }
  .el-switch__core .el-switch__action {
    top: 2px;
    width: 8px;
    height: 8px;
  }
  .is-checked {
    .el-switch__core{
      &::after{
        margin-left: -9px;
      }
    }
  }
}
.bg-switch {
  .el-switch {
    line-height: 30px;
    height: 30px;
    .el-switch__core{
      width: 54px !important;
      height: 30px;
      border-radius: 15px;
      .el-switch__action {
        top: 2px;
        left: 2px;
        width: 24px;
        height: 24px;
      }
    }
  }
  .is-checked {
    .el-switch__core{
      .el-switch__action {
        margin-left: -26px !important;
      }
    }
  }
}